.nav-list li {
    display: block;
    grid-column: auto;
    float: left;
    padding:5px;
}

.det{
    display: block;
    padding: 1em 1em;
}

table,th,tr,td{
    border-collapse: collapse;
    border: 0.1em solid black;
}